In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np

In [2]:
column_headers = ['Player', 'From', 'To', 'Pos', 'Ht', 'Wt', 'Birth Date', 'College']

In [4]:
alphabet_list = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
player_data = []

for alphabet in alphabet_list:
    url_base = 'https://www.basketball-reference.com/players/' + alphabet
    result = requests.get(url_base)
    c = result.content
    soup = BeautifulSoup(c, 'lxml')
    data_rows = soup.findAll('tr')[1:]
    player_data_temp = [[td.getText() for td in data_rows[i].findAll(['th', 'td'])] 
                           for i in range(len(data_rows))]
    player_data += player_data_temp

In [5]:
df = pd.DataFrame(player_data, columns=column_headers)

In [6]:
df = df.convert_objects(convert_numeric=True)
df['Years_Played'] = df['To'] - df['From'] + 1
df['Censored'] = np.where(df['To'] == 2018, 0, 1)
df.head(10)

C:\Users\Jake\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: convert_objects is deprecated.  Use the data-type specific converters pd.to_datetime, pd.to_timedelta and pd.to_numeric.
  """Entry point for launching an IPython kernel.

,Player,From,To,Pos,Ht,Wt,Birth Date,College,Years_Played,Censored
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University,5,1
1,Zaid Abdul-Aziz,1969,1978,C-F,6-9,235.0,"April 7, 1946",Iowa State University,10,1
2,Kareem Abdul-Jabbar*,1970,1989,C,7-2,225.0,"April 16, 1947","University of California, Los Angeles",20,1
3,Mahmoud Abdul-Rauf,1991,2001,G,6-1,162.0,"March 9, 1969",Louisiana State University,11,1
4,Tariq Abdul-Wahad,1998,2003,F,6-6,223.0,"November 3, 1974","University of Michigan, San Jose State University",6,1
5,Shareef Abdur-Rahim,1997,2008,F,6-9,225.0,"December 11, 1976",University of California,12,1
6,Tom Abernethy,1977,1981,F,6-7,220.0,"May 6, 1954",Indiana University,5,1
7,Forest Able,1957,1957,G,6-3,180.0,"July 27, 1932",Western Kentucky University,1,1
8,John Abramovic,1947,1948,F,6-3,195.0,"February 9, 1919",Salem International University,2,1
9,Alex Abrines,2017,2018,G-F,6-6,190.0,"August 1, 1993",,2,0